body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin:0px;
    padding:0px;
    background-color:#f9f9f9;
}



.header_banner {
    background-image:url('../images/Home_Banner.jpg');
}

.profile_banner {
    background-image:url('../images/Profile_Page.jpg');
}


.default_input {
    margin-top:5px;
    margin-bottom:5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:2px;
    font-size:16px;
}
.default_select {
    width:400px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:2px;
    font-size:16px;
    background-color:white;
}


.error_text {
    text-align:center;
    color:red;
    font-size:28px;
}

/*Bootstrap overrides*/
.navbar {
     margin-bottom: 0px;
}