/* nav bar css */

.logoLeft {
    font-weight :100;
    color:#33aef4;
}

.logoMiddle {
    color:#33aef4;
}

.logoRight {
    font-weight:800;
    color:#33aef4;
}

.nav_container {
    padding:10px;
}

.nav_logo_img {

}

.nav_menu_container {
    padding:10px;
    margin:0;
    display:inline-block;
    float:right;
}

.nav_menu_container a {
    color:#33aef4;
    text-decoration:none;
}

