.form_container {
    vertical-align:top;
    display:inline-block;
}

.image_div {
    display:inline-block;
    vertical-align:top;
    padding:5px;
    margin:5px;

}


.organization_form {
    display:inline-block;
    padding:5px;
    margin:5px;
    text-align:left;
}

.organization_logo {
    width:150px;
}

.input_container {
 margin:5px;
}

.input_label {
    color:gray;
    font-size:18px;
    margin:0px;
    margin-top:20px;
    padding:0px;
}

.organization_input {

}
.organization_select {

}

.cause_checkbox_container {
    display:inline-block;
    width:100px;
    background-color:gray;
    color:lightgray;
    cursor:pointer;
    font-weight:400;

}