$color_headline: #33aef4;
$main_button_color: #35db55;


.branding_main_link_color {
    color: $color_headline;
}


.brand_main_button {
    display:inline-block;
    background-color:$main_button_color;
    color:white;
    padding:10px;
    padding-left:50px;
    padding-right:50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px solid lightgray;
    outline:0;
    font-size:18px;
    margin:5px;

    text-decoration:none;

    -webkit-transition: color .2s; /* Safari */
    transition: color .2s;

}

.brand_main_button:hover {
    cursor:pointer;
    color:#33aef4;
    text-decoration:none;
    -webkit-transition: color .2s; /* Safari */
    transition: color .2s;
}